.lot-explorer {
    border-inline: 1px solid rgb(198, 193, 193, 0.2);
    min-height: 100vh;
    position: relative;
}

.lot-explorer__content {
    background-color: white;
    padding: 0.75rem;
    padding-top: 0;
}

@media screen and (min-width: 1020px) {
    .lot-explorer__content {
        padding-inline: 1.5rem;
    }

    .lot-explorer__header {
        padding-inline: 1.5rem;
    }
}


@media screen and (min-width: 768px) {
    .lot-explorer__mob-filter-btns {
        display: none;
    }
}
