.redirect-popup {
    padding-inline: 1rem;
}

.redirect-popup a {
    display: block;
    width: max-content;
    margin-inline: auto;
}

.chart-wrapper {
    height: 400px;
}

.card__container {
    background-color: white;
    border-radius: 5px;
    padding: 14px;
    display: grid;
    gap: 12px;
    margin-bottom: 0.75rem;
}

.card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__price {
    font-weight: 600;
    color: #1a1345;
    font-size: 12px;
}

.card__price--crossed {
    text-decoration: line-through;
}

.card__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.card__panel {
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
}

.card__status {
    flex-basis: 110px;
}

.card__panel-status {
    color: #8b8b8b;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
}

.card__panel-status.success {
    background-color: #e2ffda;
}

.card__panel-status.info {
    background-color: #e1f4ff;
}

.card__panel-status.danger {
    background-color: #ffeaea;
}

.card__panel-btn {
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #f5f5f5;
    height: 26px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__data--desktop {
    display: none;
}

.card__price--desktop {
    display: none;
}

.card__close-chart {
    display: none;
}

.card__panel-article {
    color: #4398b7;
    font-size: 12px;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    display: flex;
    align-items: center;
    gap: 4px;
}

.card__sq-meter-price {
    display: none;
}

@media screen and (min-width: 768px) {
    .card__panel-btn {
        margin-right: 0;
    }

    .card__data--mobile {
        display: none;
    }

    .card__data--desktop {
        display: flex;
    }

    .card__header--mobile {
        display: none;
    }

    .card__price--desktop {
        display: block;
        margin-right: auto;
        margin-left: 0.5rem;
    }

    .chart-popup--desktop {
        display: none;
    }
    .card__close-chart {
        display: flex;
        padding-block: 1rem;
    }

    .card__close-chart-btn {
        color: black;
        margin-left: auto;
    }
}

.card__status--desktop {
    display: none;
    flex-shrink: 0;
}

.card__panel-article--desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .card__panel {
        display: none;
    }

    .card__status--desktop {
        display: flex;
    }

    .card__price--desktop {
        margin-right: 0;
    }

    .card__panel-article--desktop {
        display: flex;
    }

    .card__sq-meter-price {
        display: flex;
    }

    .card__container {
        margin-bottom: 0;
        gap: 0;
        padding: 1rem;
        border-radius: 0;
    }

    .card__container--odd {
        background-color: #f6f8f9;
    }

    .card__data--desktop {
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .card__price--desktop {
        font-size: 1rem !important;
    }
}

.card__panel-article img {
    margin-top: 0.2em;
    display: block;
}

.lot-props {
    display: flex;
    align-items: center;
}

.attr {
    color: #514f62;
    font-size: 10px;
    flex-shrink: 0;
    min-width: 1rem;
    font-weight: 400;
    padding-inline: 8px;
    position: relative;
}

.attr:not(:first-of-type)::after {
    content: '';
    position: absolute;
    background-color: #514f62;
    left: 0;
    width: 1px;
    height: 10px;
    transform: translateY(50%);
    top: 0;
}

.attr--area {
    font-size: 8px;
}

@media screen and (min-width: 380px) {
    .card__price {
        font-size: 14px;
    }

    .attr {
        font-size: 12px;
    }
}
